In [1]:
print("changes has done in jupyterhub")

changes has done in jupyterhub

In [2]:
import pandas as pd

In [4]:
# %%debug
data = { 'Name':["Manoj","Srinivas","Tinku"],
        'Mobile Number':[9700554470,9666651610,7013254226]}
df = pd.DataFrame(data)
df

       Name  Mobile Number
0     Manoj     9700554470
1  Srinivas     9666651610
2     Tinku     7013254226

In [3]:
df

       Name  Mobile Number
0     Manoj     9700554470
1  Srinivas     9666651610
2     Tinku     7013254226